.navbar-brand {
background-color:#FFFF00 !important;
margin-right:400px
 
}
.navbar  { background-color:rgb(95,85,75) !important }
body {  background-color:rgb(8 , 11 , 16) !important  }
main  { min-height: 100vh; }
.search-bar { width:400px  !important}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
 h3 { color:#FFFF00 }
.home_text { background-color:#FFFFFF }
.movies_list img { width:200px ; height:auto }
.movies_list  {color:white }
.register  { color: rgb(116, 116, 116);
  
}
